{% load static %}

<html>
    <head>
        <link rel="shortcut icon" type="image/png" href="{% static "public/images/favicon-16x16.png" %}">
        <link rel="shortcut icon" type="image/png" href="{% static "public/images/favicon-32x32.png" %}">
        <link rel="shortcut icon" type="image/png" href="{% static "public/images/favicon-64x64.png" %}">
        <title>
            {% if appname == "startpage" %}Startseite - {% endif %}
            {% if appname == "datenbank" %}Datenbank - {% endif %}
            {% if appname == "meingoethopia" %}Mein Goethopia - {% endif %}
            Goethopische Agentur für politische Bildung</title>
    </head>
<body> 
    
    {% include "public/header.html" %}
    {% block raw_content %}
    {% endblock %}
    {% include "public/footer.html" %}

</body>

</html>

