{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "public/css/footer.css" %}">
<div id="footer">
   <style>
       .footer-center {
          color: #9F2D17;
       }
       .link-to-contact {
           color: #9F2D17;
           text-decoration: underline;
        }
        </style>
        <br>
        <br>
        <br>
        <center class="footer-center">C.M., N.H. © 2017 - 2018 | <a class="link-to-contact" href="{% url "meingoethopia:question_new" %}">Kontakt</a> | <a class="link-to-contact" href="{% url "admin:index" %}">Admin</a> | <a class="link-to-contact" href="{% url "startpage:impressum" %}">Impressum</a> | <a class="link-to-contact" href="{% url "startpage:datenschutz" %}">Datenschutzerklärung</a></center>
        <br>
</div>
