{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "public/css/footer.css" %}">
<div id="footer">
   <style>
       .footer-center {
          color: #9F2D17;
       }
       .link-to-contact {
           color: #9F2D17;
           text-decoration: underline;
        }
        </style>
        <br>
        <br>
        <br>
        <br>
        <center>Das Projekt „Goethopia“ wird freundlicherweise unterstützt von</center>
        <br>
        <br>
        <table>
            <tr>
                <th style="width:33%"/>
                <th style="width:33%"/>
                <th style="width:33%"/>
            </tr>
            <tr>
                <td>
                    <a href="http://www.baum-uebersetzungen.de">
                        <img width="100%" height="100%" border="0" alt="Baum Übersetzungen" src="{% static "public/images/werbeanzeige_baum.jpg" %}" >
                    </a>
                </td>
                <td>
                    <a href="https://www.ksklb.de">
                        <img width="100%" height="100%" border="0" alt="Kreissparkasse Ludwigsburg" src="{% static "public/images/ksklb_werbung.png" %}">
                    </a>
                </td>
                <td>
                    <a href="https://www.mhplus-krankenkasse.de/home/">
                        <img width="100%" height="100%" border="0" alt="mhplus Krankenkasse" src="{% static "public/images/mhplus_werbung.jpg" %}" width=100>
                    </a>
                </td>
            </tr>
        </table>
        <br>
        <br>
        <center class="footer-center">C.M., N.H. © 2017 - 2018 | <a class="link-to-contact" href="{% url "meingoethopia:question_new" %}">Kontakt</a> | <a class="link-to-contact" href="{% url "admin:index" %}">Admin</a> | <a class="link-to-contact" href="{% url "startpage:impressum" %}">Impressum</a> | <a class="link-to-contact" href="{% url "startpage:datenschutz" %}">Datenschutzerklärung</a></center>
        <br>
</div>
