{% extends "public/default.html" %}
{% block content %}
<style>
       .heading {
          color: #9F2D17;
      }
    </style>
<h1 class="heading">Datenschutzerklärung</h1>

<b>Welche personenbezogenen Daten werden von Ihnen erhoben, wenn Sie die Webseite www.goethopia.de
besuchen?</b>

<p>Bei jedem Zugriff auf das Webangebot des Schule als Staat Projekts Goehtopia überträgt ihr
Webbrowser Nutzungsdaten. Diese umfassen Ihre IP-Adresse sowie eine Bezeichnung der abgerufenen
Inhalte (URL). Ohne die Erhebung der IP-Adresse des zugreifenden Rechners und der Bezeichnung
der abgerufenen Datei ist ein Verbindungsaufbau zu unserem Server und die Nutzung des
entsprechenden Webangebots unmöglich. Darüber hinaus überträgt Ihr Browser je nach Ihrer
Konfiguration weitere Daten (Browsertyp, Browserversion, verwendetes Betriebssystem, Referrer URL).
Wir verwenden diese Daten für eine browserspezifische Darstellung oder eine Endgeräte-optimierte
Bereitstellung der Inhalte. Um das Webangebot gewährleisten zu können, werden teschnisch notwendige
Session und CSRF Cookies verwendet.
</p>
<p>
Nach Ende der Nutzung speichern wir folgende Daten: Name der abgerufenen Datei, Datum und Uhrzeit des
Abrufs und Abrufstatus. Wir speichern keine personenbezogenen Daten. </p>

<b>Welche personenbezogenen Daten werden im Übrigen bei uns verarbeitet?</b>
<p><b>Kontaktaufnahme per Email oder Kontaktformular</b>: Wenn Sie per E-Mail oder über das
Kontakt-/Frageformular mit uns in Verbindung treten, werden folgende Daten von Ihnen gespeichert:
Email-Adresse, Betreff bzw. Thema und der E-Mail bzw. Frage Text.

<p><b>Anmeldung eines Betriebs</b>: Wenn Sie auf unserer Webseite einen Betrieb anmelden, wird der
Name des Betriebs, der/die Namen der/des Betriebsleiter/-s/-in/-innen, eine E-Mail Adresse sowie die
Betriebsidee gespeichert. Diese Daten werden zum Ende des Projekts gelöscht.

<p><b>Löschung von Daten</b></p>

<p>Auf Anfrage per E-Mail an info@goethopia.de löschen wir Ihre Daten selbstverständlich
unverzüglich.</p>

{% endblock %}
