{% extends "public/default.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "startpage/css/index.css" %}">
<table>
    <tr>
        <td width=70%>
            <h1 class="red" id="termine">Termine</h1>
            <ul class="dates_ul">
                <li class="dates"><b>01.12.2017:</b> Eröffnung der Parteianmeldungen</li>
                <li class="dates"><b>22.12.2017:</b> Deadline für Parteianmeldungen</li>
                <li class="dates"><b>22.12.2017:</b> Deadline für Präsidentschaftsbewerbungen</li>
                <li class="dates"><b>06.01.2018:</b> Eröffnung des Wahlkampfes</li>
                <li class="dates"><b>01.02.2019:</b> Wahl</li>
            </ul>
            <h1 class="red" id="verfassung">Verfassung</h1>
            <h3 id="aufbau">Wie ist Goethopia aufgebaut?</h3>
            <p class="paragraph">
            Wie in jeder Demokratie ist das Grundgerüst Goethopias
            das Volk. Anders als in manchen Ländern ist in Goethopia
            absolut jeder wahlberechtigt, es gibt keine Altersgrenze.
            Die Bürger wählen in einer demokratischen Wahl Parteien,
            welche deren Interessen im Parlament vertreten. Welches
            Parteimitglied dann wirklich in das Parlament einzieht,
            ergibt sich über die Sitzeverteilung. Hier ein Beispiel zur
            Sitzverteilung im Parlament nach der Wahl:
            <br>
            </p>
            <center class="imagewrap">
                <img src="{% static "startpage/images/Tabelle_Beispiel_Sitzverteilung.png" %}" alt="Wahlergebnis" class="images">
            </center>
            <p class="paragraph">
            <br>
            Hieraus ergibt sich nun folgende Sitzverteilung:
            <br>
            </p>
            <center class="imagewrap">
                <img src="{% static "startpage/images/Parlament.png" %}" alt="Sitverteilung" class="images">
            </center>
            <p class="paragraph">
            <br>
            Es ist nun am Parlament, eine Parlamentspräsidentin zu
            bestimmen und eine mehrheitsfähige Regierungskoalition zu
            bilden. In diesem Fall sind Sitze benötigt, denkbar wären
            also folgende Koalitionen:<br>
            - <b>Betelgeuse 5</b>, Jaglan Beta (20 Sitze)<br>
            - <b>Betelgeuse 5</b>, Frogstar (18 Sitze)<br>
            - <b>Jaglan Beta</b>, Frogstar (16 Sitze)<br>
            Das Parlament wählt nun eine Kanzlerin, welche wiederum
            ihr Kabinett, bestehend aus den Ministerien, ernennt. Zu
            den weiteren Aufgaben des Parlamentes gehört die Gesetzeserlassung
            und Wahl der Richter.
            <br>
            </p>
            <center class="imagewrap">
                <img src="{% static "startpage/images/Verfassung_modell.png" %}" alt="Modell der Verfassung" class="images">
            </center>
            <h1 class="red" id="wahl">Wahl</h1>
            <h3 id="wann">Wann wird die Wahl stattfinden?</h3>
            <p class="paragraph">
            Die Wahl wird am 01. Februar 2018 stattfinden. Über das genaue Format wird hier noch informiert werden.
            </p>
            <h3 id="partei">Wie gründe ich eine Partei?</h3>
            <p class="paragraph">
            Damit eine Partei bei der Wahl zugelassen werden kann,
            muss sie mindestens über 10 Parteimitglieder und 20 Unterschriften
            verfügen (für weitere Details siehe Artikel 19 der Verfassung). Dies
            soll verhindern, dass es zu einer Flut von Parteigründungen
            kommt. Wir empfehlen folgende Schritte, um erfolgreich bei
            der Wahl zugelassen zu werden:
            </p>
            <ul class="dates_ul">
                <li class="dates">
                    <b>Festlegen der Parteigrundsätze:</b><br>
                    Dieser Schritt ist notwendig, damit andere Bürgerinnen
                    sich dazu entschließen können, der Partei beizutreten.
                    Hier geht es nicht um ein konktretes Parteiprogramm,
                    sondern um das Abstecken der Prinzipien, denen sich
                    die Partei verordnet fühlt.
                </li>
                <li class="dates">
                    <b><br>Parteimitglieder anwerben:</b><br>
                    Es ist wichtig, dass gerade junge Parteien schnell wachsen
                    und sich Mitstreiter finden, die gemeinsam die Partei
                    vorantreiben. Erst wenn man die gesetzliche Mindestgröße
                    erreicht hat, empfiehlt es sich, sich detailliert mit
                    Inhalten auseinanderzusetzen.
                </li>
                <li class="dates"><br><b>Parteiprogramm erstellen:</b><br>
                    Hierfür ist es sinnvoll, wichtige Kernpunkte aufzuteilen,
                    sodass jedes Mitglied sich einen kleinen Teil des
                    Parteiprogramms überlegt. Danach sollte das
                    Parteiprogramm beschlossen werden.
                </li>
                <li class="dates"><br><b>Kandidatenliste festlegen:</b><br>
                    Die Kandidatenliste bestimmt, wer ins Parlament
                    einzieht. Erhält eine Partei 10 Sitze, so erhalten die
                    ersten 10 Plätze auf der Parteiliste einen Sitz im Parlament.<br>
                </li>
                <li class="dates"><br><b>Partei zur Wahl anmelden:</b><br>
                    Dafür genügt es, Parteiname, Liste und Unterschriften/
                    Mitglieder einfach an den Ausschuss für politische
                    Bildung weiterzureichen.
                </li>
                <li class="dates"><br><b>Wahlwerbung machen:</b><br>
                    Dies ist der letzte Schritt. Nun gilt es, sich als Partei
                    den Bürgerinnen überzeugend zu präsentieren!
                </li>
            </ul>
            <h3>Wie wird man Präsidentin?</h3>
            <p class="paragraph" id="praesidentin">
            Um Präsidentin zu werden, muss man Unterschriften
            von 10 Bürgern vorweisen und am 01.06.2018 (siehe Artikel 19 der Verfassung). Wenn
            beide Bedingungen erfüllt sind, reicht es, sich mit Nachweis
            beim Ausschuss für politische Bildung offiziell zu bewerben.
            Danach empfiehlt es sich, weiterhin Wahlwerbung
            zu betreiben.
            </p>

            <h1 class="red" id="judikative">Judikative</h1>
            <h3 id="aufgaben-verfassung">Was sind die Aufgaben des Verfassungsgerichts?</h3>
            <p class="paragraph">
            Das Verfassungsgericht kontrolliert, ob die vom Parlament
            erlassenen Gesetze verfassungskonform sind. Falls dem 
            so nicht ist, muss das Verfassungsgericht die Erlassung der
            Gesetze mit einem Beschluss verhindern. Deshalb wird das
            Verfassungsgericht auch mit Wahl des Parlamentes zusammengestellt.
            Darüber hinaus verhandelt das Verfassungsgericht
            auch zivilrechtliche Klagen, die vom Straf- und Zivilgericht
            in Revision gegangen sind. Verfassungsrichterinnen
            brauchen also nicht nur ein gutes Verständnis der Verfassung,
            sondern auch des Strafrechts.
            </p>
            <h3 id="aufgaben-gericht">Was sind die Aufgaben des Zivil- und Strafgerichts?</h3>
            <p class="paragraph">
            Das Zivil und Strafgericht urteilt über alle privatrechtlichen
            Streitfälle, die in Goethopia anfallen. Hierbei ist
            es wichtig, dass die Richterinnen gute Kenntnisse der Gesetzeslage
            haben und daran denken, Urteile immer zu veröffentlichen.
            Das Gericht besteht aus 3 hauptberuflichen Richterinnen
            und zwei Schöffinnen.
            </p>
            <h3 id="schoeffin">Wie werde ich Schöffin?</h3>
            <p class="paragraph">
            Schöffinen sind jeweils nur einen Tag im Amt. Dadurch
            wird allen Staatsbürgerinnen die Möglichkeit geboten, einmal
            Luft zu schnuppern wie das Rechtssystem funktioniert.
            Damit sich Arbeitgeber auf die fehlende Arbeitskraft einstellen
            können ist es wichtig, dass sich Schöffinen frühzeitig
            beim Parlament bewerben. Am 01.03.2018 zieht das Parlament
            zufällig 10 Schöffinen für Schule als Staat.
            </p>
            <h3 id="richterin">Wie werde ich Richterin?</h3>                
            <p class="paragraph">
            Das Parlament wählt die Richterinnen selber. Als Richterin
            muss man keine besonderen Qualifikation mitbringen,
            sondern sich direkt bei der Parlamentspräsidentin bewerben
            und das Parlament von der eigenen Tauglichkeit überzeugen.
            </p>

            <h1 class="red" id="ministerien">Posten in den Ministerien</h1>
            <h3 id="beamtenstatus"> Wie erhalte ich den Beamtenstatus?</h3>
            <p class="paragraph">
            Alle Ministerien (Wirtschatfs-, Innen-, Außen-, Kulturund
            Arbeitsministerium) haben Anrecht auf 4 hauptberufliche
            Beamtenstellen. Sobald sich nach der Wahl eine
            Regierung gebildet hat, ist jede Ministerin für ihr Ministerium
            zuständig und kann die Stellen besetzen. Am Besten
            geht man auf die Minister direkt zu, wenn man sich auf eine
            Stelle bewerben will.
            </p>
        </td>
        <td>
            <h3 class="inhalt">Inhalt</h3>
            <ul class="meinlinks">
                <li><a href="#termine">Termine</a></li>
                <li><a href="#verfassung">Verfassung</a></li>
                <ul class="meinlinks">
                    <li><a href="#aufbau">Wie ist Goethopia aufgebaut?</a></li>
                </ul>
                <li><a href="#wahl">Wahl</a></li>
                <ul class="meinlinks">
                    <li><a href="#wann">Wann wird die Wahl stattfinden?</a></li>
                    <li><a href="#partei">Wie gründe ich eine Partei?</a></li>
                    <li><a href="#praesidentin">Wie wird man Präsidentin?</a></li>
                </ul>
                <li><a href="#judikative">Judikative</a></li>
                <ul class="meinlinks">
                    <li><a href="#aufgaben-verfassung">Was sind die Aufgaben des <br>Verfassungsgerichts?</a></li>
                    <li><a href="#aufgaben-gericht">Was sind die Aufgaben des Zivil- <br>und Strafgerichts?</a></li>
                    <li><a href="#schoeffin">Wie werde ich Schöffin?</a></li>
                    <li><a href="#richterin">Wie werde ich Richterin?</a></li>
                </ul>
                <li><a href="#ministerien">Beamtenposten in Ministerien</a></li>
                <ul class="meinlinks">
                    <li><a href="#beamtenstatus">Wie erhalte ich den Beamtenstatus?</a></li>
                </ul>
            </ul>
        </td>
    </tr>
</table>

{% endblock %}
