{% extends "public/default.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "startpage/css/index.css" %}">
<table>
    <tr>
        <td width=70%>
            <!--<h1 class="red" id="termine">Termine</h1>-->
            <!--<ul class="dates_ul">-->
            <!--</ul>-->
            <h1 class="red" id="wahlergebnis">Das Wahlergebnis</h1>
            Die Bürger Goethopias haben gewählt. <b>David Schwarz</b> ist der neue Präsident und die <b>Liberalen Sozialdemokraten</b> werden die stärkste Partei im Parlament:
            <br>
            <table>
                <tr>
                    <td width="50%" vertical-align="center">
                        <center class="imagewrap">
                            <img src="{% static "news/images/Sitzverteilung.png" %}" alt="Wahlergebnis" class="images" width="40%">
                        </center>
                    </td>
                    <td width="50%" vertical-align="center">
                        <center class="imagewrap">
                            <img src="{% static "news/images/parliament.png" %}" alt="Sitverteilung" class="images" width="40%">
                        </center>
                    </td>
                </tr>
            </table>
            <h1 class="red" id="judikative">Judikative</h1>
            <h3 id="aufgaben-verfassung">Was sind die Aufgaben des Verfassungsgerichts?</h3>
            <p class="paragraph">
            Das Verfassungsgericht kontrolliert, ob die vom Parlament
            erlassenen Gesetze verfassungskonform sind. Falls dem 
            so nicht ist, muss das Verfassungsgericht die Erlassung der
            Gesetze mit einem Beschluss verhindern. Deshalb wird das
            Verfassungsgericht auch mit Wahl des Parlamentes zusammengestellt.
            Darüber hinaus verhandelt das Verfassungsgericht
            auch zivilrechtliche Klagen, die vom Straf- und Zivilgericht
            in Revision gegangen sind. Verfassungsrichterinnen
            brauchen also nicht nur ein gutes Verständnis der Verfassung,
            sondern auch des Strafrechts.
            </p>
            <h3 id="aufgaben-gericht">Was sind die Aufgaben des Zivil- und Strafgerichts?</h3>
            <p class="paragraph">
            Das Zivil und Strafgericht urteilt über alle privatrechtlichen
            Streitfälle, die in Goethopia anfallen. Hierbei ist
            es wichtig, dass die Richterinnen gute Kenntnisse der Gesetzeslage
            haben und daran denken, Urteile immer zu veröffentlichen.
            Das Gericht besteht aus 3 hauptberuflichen Richterinnen
            und zwei Schöffinnen.
            </p>
            <h3 id="schoeffin">Wie werde ich Schöffin?</h3>
            <p class="paragraph">
            Schöffinen sind jeweils nur einen Tag im Amt. Dadurch
            wird allen Staatsbürgerinnen die Möglichkeit geboten, einmal
            Luft zu schnuppern wie das Rechtssystem funktioniert.
            Damit sich Arbeitgeber auf die fehlende Arbeitskraft einstellen
            können ist es wichtig, dass sich Schöffinen frühzeitig
            beim Parlament bewerben. Am 01.03.2018 zieht das Parlament
            zufällig 10 Schöffinen für Schule als Staat.
            </p>
            <h3 id="richterin">Wie werde ich Richterin?</h3>                
            <p class="paragraph">
            Das Parlament wählt die Richterinnen selber. Als Richterin
            muss man keine besonderen Qualifikation mitbringen,
            sondern sich direkt bei der Parlamentspräsidentin bewerben
            und das Parlament von der eigenen Tauglichkeit überzeugen.
            </p>

            <h1 class="red" id="ministerien">Posten in den Ministerien</h1>
            <h3 id="beamtenstatus"> Wie erhalte ich den Beamtenstatus?</h3>
            <p class="paragraph">
            Alle Ministerien (Wirtschatfs-, Innen-, Außen-, Kulturund
            Arbeitsministerium) haben Anrecht auf 4 hauptberufliche
            Beamtenstellen. Sobald sich nach der Wahl eine
            Regierung gebildet hat, ist jede Ministerin für ihr Ministerium
            zuständig und kann die Stellen besetzen. Am Besten
            geht man auf die Minister direkt zu, wenn man sich auf eine
            Stelle bewerben will.
            </p>
        </td>
        <td>
            <h3 class="inhalt">Inhalt</h3>
            <ul class="meinlinks">
                <li><a href="#termine">Termine</a></li>
                <li><a href="#wahlergebnis">Wahlergebnis</a></li>
                <li><a href="#judikative">Judikative</a></li>
                <ul class="meinlinks">
                    <li><a href="#aufgaben-verfassung">Was sind die Aufgaben des <br>Verfassungsgerichts?</a></li>
                    <li><a href="#aufgaben-gericht">Was sind die Aufgaben des Zivil- <br>und Strafgerichts?</a></li>
                    <li><a href="#schoeffin">Wie werde ich Schöffin?</a></li>
                    <li><a href="#richterin">Wie werde ich Richterin?</a></li>
                </ul>
                <li><a href="#ministerien">Beamtenposten in Ministerien</a></li>
                <ul class="meinlinks">
                    <li><a href="#beamtenstatus">Wie erhalte ich den Beamtenstatus?</a></li>
                </ul>
            </ul>
        </td>
    </tr>
</table>

{% endblock %}
