html {
    background-color: white;
}
#logo {
    width: 90%;
    padding-left: 2%;
    padding-top: 2%;
}
.top-links {
    color: #929292;
    vertical-align: top;
    padding-top: 5px;
    text-align: center;
}
#logotablerow {
    padding-right: 2%;
}
#search {
    vertical-align: middle;
}
#search_icon {
    width: 80%;
    vertical-align: middle;
    padding-left: 0px;
}
#submit_search {
    border: none;
    background-color: transparent;
    color: transparent;
    background-image: url('../images/search_icon.png');
    background-size: 100%;
    background-position: center;
    height: 64px;
    background-repeat: no-repeat;
}
table{
    border-collapse: collapse;
    border: none;
}
table tr{
    border: none;
    vertical-align: top;
}

table td{
    padding-left: 10px;
    padding-top: 2px;
    border: none;
}
.link-container {
    text-align: center;
    width: 10%;
}
.allcenter {
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
}
#search {
    font-size: 16pt;
    background: #D6D5D5;
    color: black;
}
#search:focus{
    font-size: 16pt;
    background: #D6D5D5;
    color: black;
    outline: none;
}
ul.navbar {
    list-style-type: none;
    position: relative;
    margin-left: 2%;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    width: 96%;
    background: #D6D5D5;
    border: none;
}

li.navbar {
    float: left;
    width: 30%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    vertical-align: middle;
    padding-left: 3%;
    color: #929292;
}

li.navbar a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 2.5px;
}

li.navbar a.active {
    background: #9F2D17;
    color: white;
}

li.navbar a:hover:not(.active) {
    background: #929292;
}
