#partei_bild {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
}

#tablebig {
    width: 100%;
}

#tablepartei {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 1em;
}
