{% extends "public/default.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "news/css/index.css"%}">
<table>
    <tr>
        <td width="70%">
            <h1 class="red">Parlamentssitzungen</h1>

            <p>Hier sind die nächsten Parlamentssitzungen, falls bereits geplant, zu sehen.</p>
            <ul>
                {% for session in sessions %}
                <li>
                    {{ session.date }}, {{ session.stunde }}, {{ session.raum }}
                    {% if session.tagesordnung %}
                    (<a href="{{ session.tagesordnung.url }}">Tagesordnung</a>)
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <h1 class="red">Kabinett</h1>                        
            <p>Das Kabinett setzt sich folgendermaßen zusammen:</p>
            <table id="kabinett">
                <tr>
                    <td width="20%">
                        <p>Kanzler</p>
                    </td>
                    <td width="20%">
                        <p>Henrik Möller (LSD)</p>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <p>Vizekanzlerin und stellvertretende Außenministerin</p>
                    </td>
                    <td width="20%">
                        <p>Anna Hofmann (PfG)</p>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <p>Arbeitsminister</p>
                    </td>
                    <td width="20%">
                        <p>Simon Brettschneider (PfG)</p>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <p>Innenministerin</p>
                    </td>
                    <td width="20%">
                        <p>Hanna Broghammer (LSD)</p>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <p>Außenminister</p>
                    </td>
                    <td width="20%">
                        <p>Scott Hebach (LSD)</p>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <p>Kulturministerin</p>
                    </td>
                    <td width="20%">
                        <p>Julia Trachtmann (LSD)</p>
                    </td>
                </tr>
                <tr>
                    <td width="20%">
                        <p>Wirtschaftsministerin</p>
                    </td>
                    <td width="20%">
                        <p>Mia Pfuderer (LSD)</p>
                    </td>
                </tr>
            </table>
            
            <h1>Parlamentspräsident</h1>
            Parlamentspräsident ist Daniel Hoefig (MIG)

            <h1>Justiz</h1>
            Als Verfassungsrichter sind gewählt:
            <ul>
                <li>
                    <p>Christoph Braun</p>
                </li>
                <li>
                    <p>Christian Merten</p>
                </li>
                <li>
                    <p>Sumeja Kovačević</p>
                </li>
            </ul>
            <p>Die Wahlen der weiteren Richter stehen noch an. Bewerbt euch also noch kräftig!</p>

            <h1>Parlamentssitzungsprotokolle</h1>
            <p><a href="https://cloud.goethopia.de/index.php/s/bjAIz9bQDySSfqF">Hier</a> findet ihr
            alle Protokolle der Parlamentssitzungen</p>
            <!--<h1 class="red" id="ministerien">Interview mit Henrik Möller (Vorsitzender der LSD)</h1>-->
            
            <!--<h3 class="red">Erst einmal herzlichen Glückwunsch zum Wahlerfolg. Die LSD zieht mit Abstand als stärkste Kraft in das Parlament - hat  Sie das überrascht?</h3>-->
            <!--Wir sind sehr erfreut und auch ein wenig überrascht über den doch sehr deutlichen Sieg. -->
            <!--Ich möchte die Gelegenheit nutzen, um  mich  bei allen Mitgliedern und Unterstützern zu bedanken, ohne die dieser Erfolg nicht möglich gewesen wäre. -->
            <!--Während dem Wahlkampf  zeigte unsere Partei, wie gut Unterstufe, Mittelstufe und Oberstufe in unserer Partei zusammenarbeiten können.-->
            <!--Wir haben beispielsweise einen Kuchenverkauf organisiert und den Gewinn an Greenpeace gespendet. -->
            
            <!--<h3 class="red">Haben Sie schon feste Vorstellungen, wie eine mögliche Koalition aussehen sollte? Welche Posten möchte die LSD gerne besetzen?</h3>-->
            <!--Unser Ziel ist es eine stabile Koalition für Goethopia im Sinne der sozialen Gerechtigkeit im Hinblick auf Gleichberechtigung der Geschlechter -->
            <!--und individueller Freiheit zu bilden. Damit die Ideen und Konzepte unserer potentiellen Koalitionspartner im Koalitionsvertrag zu erkennen sind, -->
            <!--sind wir durchaus kompromissbereit. Zwischen der LSD und der KKP sowie der FiP sehen wir einige Schnittmengen etwa in den Fragen Ehe für Alle, -->
            <!--der Durchsetzung von Internet, innerer Sicherheit, Eigentumsrechten und dem Mindestlohn. Für Letzteres steht auch die Partei MiG ein. -->
            <!--<h3 class="red">Ein linkes Bündnis aus EAP und KitKat wäre gleich stark wie die ihrige Partei. Sie buhlen beide um die „kleinen“ Parteien - Wie schätzen Sie ihre Chancen ein?</h3>-->
            <!--Wir sind davon überzeugt das unsere Partei das Mandat zur Bildung einer Regierung von den Bürgern erhalten hat und eine instabile Viererkonstellation von der -->
            <!--Mehrheit der Bürger nicht gewünscht ist. -->
            <!--<h3 class="red">Wie sehen die nächsten Schritte für ein Sondierungsgespräch aus?</h3>-->
            <!--Wir werden die kommenden Tage Kontakt zu KKP und MiG aufnehmen und Sondierungsgespräche führen.-->
            <!--<h3 class="red">Vielen Dank für das Gespräch</h3>-->
        </td>
        <td width="30%"></td>
    </tr>
</table>

{% endblock %}
