{% extends "public/default.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static "news/css/partei.css"%}">

<p><a href="{% url "news:index" %}">Zurück zur Übersicht</a></p>

<table id="tablebig">
    <tr>
        <th style="width:70%"/>
        <th style="width:30%"/>
    </tr>
    <tr>
        <td>
            <table id="tablepartei">
                <tr>
                    <th style="width:20%"/>
                    <th style="width:80%"/>
                </tr>
                <tr class="trpartei">
                    <td>
                        <p><b>Name</b></p>        
                    </td>
                    <td>
                        <p>{{ entry.partei.name }} ({{ entry.partei.abbreviation }})</p>        
                    </td>
                </tr>
                <tr class="trpartei">
                    <td>
                        <p><b>Vorsitzende(r)</b></p>        
                    </td>
                    <td>
                        <p>{{ entry.partei.chef }}</p>        
                    </td>
                </tr>
                <tr class="trpartei">
                    <td>
                        <p><b>Wahlprogramm</b></p>        
                    </td>
                    <td>
                        {{ entry.wahlprogramm|linebreaks }}
                    </td>
                </tr>
                <tr class="trpartei">
                    <td>
                        <p><b>Weitere Informationen</b></p>        
                    </td>
                    <td>
                        {% for attachment in entry.parteianhang_set.all %}
                            <a href="{{ attachment.data.url }}">{{ attachment.name }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <div>
                <img src="{{ entry.image.url }}" id="partei_bild">
            </div>
        </td>
    </tr>
</table>

<p><a href="{% url "news:index" %}">Zurück zur Übersicht</a></p>

{% endblock %}
