{% extends "public/default.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "meingoethopia/css/index.css" %}">
<p>Du möchtest einen Betrieb anmelden?</p>

<p>Dann bist du hier genau richtig!</p>

<ul class="meinlinks">
    <li><a href="{% url "meingoethopia:betrieb_new" %}">Betrieb anmelden</a></li>
</ul>

<p>Fehlt dir eine zündende Idee? Vielleicht ist ja hier was dabei ...</p>

<table>
    <tr>
        <td width=20%>
        <td width=20%>
        <td width=20%>
        <td width=20%>
        <td width=20%>
    </tr>
    <tr>
        <td>
            <p>Spüldienst</p>
            <p>Kino</p>
            <p>Zeitung</p>
            <p>Notar</p>
            <p>Spielefirma</p>
            <p>Pfarrer</p>
            <p>Tanzstudio</p>
            <p>Standesamt</p>
        </td>
        <td>
            <p>Sportturnier</p>
            <p>Fotostudio</p>
            <p>Oper</p>
            <p>Theater</p>
            <p>Konzerte</p>
            <p>Fahrradladen</p>
            <p>Schreibwarenladen</p>
            <p>Schönheitssalon</p>
        </td>
        <td>
            <p>Schmuckladen</p>
            <p>Yogastudio</p>
            <p>Fremdsprachenschule</p>
            <p>Friseure</p>
            <p>Fitnessstudio</p>
            <p>Buchhandlung</p>
            <p>Secondhandladen</p>
            <p>Seifen</p>
        </td>
        <td>
            <p>Drogerie</p>
            <p>Lotterie</p>
            <p>Casino </p>
            <p>Wettbüro</p>
            <p>Karaoke Bar</p>
            <p>Paintball/Nerfgun</p>
            <p>Kunstgallerie</p>
            <p>Putzdienst</p>
        </td>
        <td>
            <p>Bällebad/Luftpolsterfolie</p>
            <p>Rechtsanwalt</p>
        </td>
    </tr>
</table>

<p><b>Bitte gründet keine weiteren Gastronomiebetriebe (Restaurants, Cafés, etc.), da
    es da bereits sehr viele Anmeldungen gibt.</b></p>

<p>Hast du eine Frage, die hier nicht beantwortet wird?<br>
Stell sie doch einfach! Unser Team ist gerne für dich da.<p>

<ul class="meinlinks">
    <li><a href="{% url "meingoethopia:question_new" %}">Frage stellen</a></li>
</ul>

{% endblock %}
