{% extends "public/default.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "meingoethopia/css/index.css" %}">
<p>Du möchtest einen Betrieb anmelden?</p>

<p>Dann bist du hier genau richtig!</p>

<ul class="meinlinks">
    <li><a href="{% url "meingoethopia:betrieb_new" %}">Betrieb anmelden</a></li>
</ul>

<p>Hast du eine Frage, die hier nicht beantwortet wird?<br>
Stell sie doch einfach! Unser Team ist gerne für dich da.<p>

<ul class="meinlinks">
    <li><a href="{% url "meingoethopia:question_new" %}">Frage stellen</a></li>
</ul>

{% endblock %}
