{% extends "admin/base_site.html" %}

{% block content %}

<h2>Gesamtumsatz</h2>

<p>Insgesamt wurden {{ umsatz_gesamt }} G-Mark erwirtschaftet.</p>

<h2>Klassenverteilung</h2>

<p>Bei einer Verteilung des Projektgewinns auf die Klassenkassen je nach Arbeitnehmer des
Betriebs, entsteht folgender Schlüssel.</p>

<table>
    <tr>
        <th>Klasse</th>
        <th>Prozentualer Gewinnanteil</th>
        <th>Beispielhafter Gewinn bei 7000€</th>
    </tr>
    {% for klasse, data in klassen.items %}
    <tr>
        <td>{{ klasse }}</td>
        <td>{{ data|get_item:"anteil" }} %</td>
        <td>{{ data|get_item:"beispiel" }} €</td>
    </tr>
    {% endfor %}
</table>

<form action="" method="post">
	{% csrf_token %}
	<input type="submit" value="Zurück">
</form>

{% endblock %}
